# Step 1: Combine datasets into one final dataset

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
#import time series and co2 data
with open ("data/co2_mm_gl_space.txt") as file1:
    time=[]
    co2=[]
    for line in file1:
        #y=line[0:4]
        #m=line[8:10]
        #ym=m+'/'+y
        time.append(line[13:22])
        #time.append(ym)
        avg=line[25:32]
        co2.append(avg)
        timeco2=[time,co2]

In [5]:
#import temperature data
with open ("data/Temperature.txt") as file2:
    temp=[]
    for i, line in enumerate(file2):
        if i>=347:
            temp.append(line[12:21])
        if i>=891:
            break

In [6]:
#import sea ice area data
with open ("data/sea_extent.txt") as file3:
    ice=[]
    for i, line in enumerate(file3):
        if i>=2:
            ice.append(line[9:-1])
        if i>=546:
            break

In [7]:
#import sea ice extent data
with open ("data/sea_ice_extent.txt") as file5:
    ice_ex=[]
    for i, line in enumerate(file5):
            ice_ex.append(line[:6])

In [8]:
#import ocean ph data
with open ("data/phdata.txt") as file4:
    ph=[]
    timeph=[]
    for i, line in enumerate(file4):
        ph.append(line[:6])

In [9]:
#remove empty entries in ph data
for i in range(len(ph)):
    if ph[i] == 'NaN\t19':
       ph[i] = ''
    if ph[i] == 'NaN\t20':
       ph[i] = ''

ph1=[]
#replace empty entries with np.nan
for string in (ph):
    if string == '':
        string = np.nan
    ph1.append(string)

In [10]:
#remove spaces in entries from co2 and time series
co2 = [x.strip(' ') for x in co2]
times=[]
for i in time:
    j = i.replace(' ','')
    times.append(j)

#remove empty characters from elements in ice_exs list
ice_exs=[]
for i in ice_ex:
    j = i.replace('\t','')
    ice_exs.append(j)

#remove header row
co2.pop(0)
times.pop(0)

'decim'

In [11]:
#replace strings with floats in each list
times2 = [float(string) for string in times]
co2_2=[float(string) for string in co2]
temp_2 = [float(string) for string in temp]
ice_2 = [float(string) for string in ice]
ph_2 = [float(string) for string in ph1]
ice_exs_2 = [float(string) for string in ice_exs]

In [12]:
#get annual average of each dataset
n = 12.0
year=times2[::12]
tempyear = [sum(temp_2[i:i+12])/n for i in range(0,len(temp_2),12)]
co2year = [sum(co2_2[i:i+12])/n for i in range(0,len(co2_2),12)]
iceyear = [sum(ice_2[i:i+12])/n for i in range(0,len(ice_2),12)]
iceexyear = [sum(ice_exs_2[i:i+12])/n for i in range(0,len(ice_exs_2),12)]

#get annual lists
#remove the last element because 2024 isn't finished yet so data is incomplete
year = year[:-1]
tempyear = tempyear[:-1]
co2year = co2year[:-1]
iceyear = iceyear[:-1]
iceexyear = iceexyear[:-1]
#sum(temp_2[:12])/12

In [13]:
#monthly dataset
dict = {'Time': times2, 'CO2': co2_2, 'Temp': temp_2, 'IceArea': ice_2, 'IceExtent': ice_exs_2, 'pH': ph_2}

df = pd.DataFrame(dict)
df.to_csv('org_data' + '/' + 'ClimateData.txt', sep='\t',index=False,header=False)

In [14]:
# yearly dataset
dict = {'Year': year, 'CO2': co2year, 'Temp': tempyear, 'IceArea': iceyear, 'IceExtent': iceexyear}

df2 = pd.DataFrame(dict)
df2.to_csv('org_data' + '/' + 'ClimateDataAnnual.txt', sep='\t',index=False,header=False)

In [16]:
# make new interpolated ph dataset without initial nan values
dictinit = {'Time': times2[117:], 'ph':ph_2[117:]}
dfph = pd.DataFrame(dictinit)
dfph_int = dfph.interpolate()
ph_int = dfph_int['ph'].tolist() 
ph_int = ph_int[:408]
time_int = dfph_int['Time'].tolist()
time_int = time_int[:408]
dictint = {'Time': time_int, 'ph': ph_int}
dfphdata = pd.DataFrame(dictint)
dfphdata.to_csv('org_data' + '/' + 'pHData.txt', sep='\t', index=False, header=False)

In [18]:
# make a yearly pH dataset
n = 12.0
year=time_int[::12]
ph_year = [sum(ph_int[i:i+12])/n for i in range(0,len(ph_int),12)]
year = year[:-1]
ph_y = ph_year[:-1]
dictphy = {'Year': year, 'ph': ph_y}
dfphy = pd.DataFrame(dictphy)
dfphy.to_csv('org_data' + '/' + 'pHDataAnnual.txt', sep='\t', index=False, header=False)